<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var validen_naslov = false;
		var validen_email = false;
		var stevec = 0;
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		
		$("#Email").keyup(function(){
			var email_vzorec = document.getElementById("Email").value;
			var se_ujema = emailRegex.test(email_vzorec);
			console.log(se_ujema);
			
			// ce se vnesen email ujema z vzorcem potem dodaj kljukico ter odpri gumb 
			if (se_ujema) {
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
				validen_email = true;
				if (validen_naslov == true) {
					document.getElementById("Register").disabled = false;
				}
			}
			
			// v obratnem primeru narise krizec ter zapre gumb 
			else {
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				validen_email = false;
				document.getElementById("Register").disabled = true;
			}
		});
		
		document.getElementById("City").addEventListener("keyup", function () {
			
			
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			} else {
				
				//dobimo JSON tabelo v spremenljivko out 
				fetch('https://api.lavbic.net/kraji')
    			.then(res => res.json())
    			.then((out) => {
    				
    				var vzorec = document.getElementById("City").value;
    				for (i = 0; i < out.length; i++) {
    					if (vzorec.localeCompare(out[i].kraj) == 0) {
    						validen_naslov = true;
    						break;
    					}
    					else {
    						validen_naslov = false;
    						document.getElementById("Register").disabled = true;
    					}
    				}
    			// spremenimo ime polja kraj 
    				for (k = 0; k < out.length; k++) {
    					out[k].value = out[k].kraj;
    					
    				}
				// funkcija ki naredi autocomplete
					$("#City").autocomplete ({
						source: out,
						select: function( event, ui) {
							console.log("SELECT");
							console.log(ui.item.postnaStevilka);
							
				// ko se izvede autocomplete, dodamo se drzavo in postno stevilko			
							for (i = 0; i < out.length; i++) {
								if (ui.item.kraj.localeCompare(out[i].kraj) == 0) {
									document.getElementById("Country").value = "Slovenija";
									document.getElementById("PostalCode").value = out[i].postnaStevilka;
									validen_naslov = true;
									
									if (validen_email == true) {
										document.getElementById("Register").disabled = false;
									}
								}
							}
							
						},
					});
				
				// ce se autocomplete ne izvede, user pa samo natipka mesto, se se vedno izpolni drava in postna stevilka 		
    				var vzorec = document.getElementById("City").value;
    				console.log(vzorec);
					for (i = 0; i < out.length; i++) {
						if (vzorec.localeCompare(out[i].kraj) == 0) {
							console.log(out[i].kraj);
							document.getElementById("Country").value = "Slovenija";
							document.getElementById("PostalCode").value = out[i].postnaStevilka;
							validen_naslov = true;
							
							if (validen_email == true) {
								document.getElementById("Register").disabled = false;
							}
						}	
					}
				}).catch(err => console.error(err));
			}
		});
		

		console.log("Complete");

		
		function pokazi_oznaceno() {
			
			var indeks = document.getElementById("seznamStrank");
			var test = indeks[indeks.selectedIndex].text;
			test = test.substring(0, test.indexOf(','));
			
			//console.log(vzorec);
			//console.log(test);

		// gre cez celoten seznam, ter primerja imena 
			for (i = 0; i < seznamRacunov.length; i++) {
				
				var vzorec = seznamRacunov[i].text;
				vzorec = vzorec.substring(0, vzorec.indexOf(' ('));
				
				if (vzorec === test) {
					seznamRacunov[i].classList.add("racun-stranke");
				}
			}
		}
		
		document.getElementById("seznamStrank").addEventListener("click", pokazi_oznaceno);
		

	});
</script>
</body>
</html>